
header {
    background: white;
}

.caixa {
    width: 940px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_cabecalho ul {
    list-style-type: none; 
    padding: 0;
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.nav_cabecalho li a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;
    border: 1px solid #EB339B;
    border-radius: 4px;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.nav_cabecalho li:nth-child(1) a {
    color: #EB339B;
}

.nav_cabecalho li:nth-child(1) a:hover {
    color: #FFFFFF;
    background-color: #EB339B;
    transition: 0.3s;
}

.nav_cabecalho li:nth-child(2) a {
    color: #FFFFFF;
    background-color: #EB339B;
}

.nav_cabecalho li:nth-child(2) a:hover {
    color: #EB339B;
    background-color: #FFFFFF;
    transition: 0.3s;
}

@media (max-width: 1024px){
    .caixa {
        width: 769px;
        padding: 20px;
    }
}

/* @media (max-width: 940px){
    .caixa {
        // mudar estilo dos botoes e logo
    }
} */