
header {
    background: white;
    width: 100%;
}

.caixa {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav_cabecalho ul {
    list-style-type: none; 
    padding: 0;
    display: flex;
    width: 100%;
    width: 350px;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav_cabecalho li a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;
    border: 1px solid #EB339B;
    border-radius: 4px;
    padding: 10px 20px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.nav_cabecalho li:nth-child(1) a {
    color: #EB339B;
}

.nav_cabecalho li:nth-child(1) a:hover {
    color: #FFFFFF;
    background-color: #EB339B;
    transition: 0.3s;
}

.nav_cabecalho li:nth-child(2) a {
    color: #FFFFFF;
    background-color: #EB339B;
}

.nav_cabecalho li:nth-child(2) a:hover {
    color: #EB339B;
    background-color: #FFFFFF;
    transition: 0.3s;
}

@media (max-width: 1024px){
    header {
        width: 100%;
    }

    .caixa {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 769px;
        padding: 20px;
    }

    #cabecalho__logo {
        margin-bottom: 1rem;
    }

    .nav_cabecalho ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav_cabecalho ul a {
        justify-content: center;
        margin-bottom: 1rem;
    }
}

/* @media (max-width: 940px){
    .caixa {
        // mudar estilo dos botoes e logo
    }
} */