body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2;
  }

.lista-edicao{
background-color: #ffffff;
  box-sizing: border-box;
  max-width: 752px;
  width: 95%;
  height: 340px;
  padding: 10px 20px;
  margin: 32px auto 32px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  
}

.paragrafo-edicao{
    margin: 0px auto 0px;
}

.formulario-edicao{
    display: flex;
    flex-direction: column;
    max-width: 248px;
    margin-top: 24px;
    
}
.input-padrao{
  border: none;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 10px rgba(51, 51, 51, 0.16);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  max-width: 672px;
  margin-top: 24px;
}

.salvar-dados{
  max-width: 324px;
  width: 100%;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
  border: 2px solid #EB339B;
  border-radius: 4px;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  color:#EB339B;
  align-items: center;
}
