body {
    background-color: #F2F2F2
}

#titulo__equipe {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    max-width: 1024px;
    justify-content: space-around;
}

.card__equipe {
    background-color: white;
    display: flex;
    margin: 1.5rem 0;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.1);
}

.card__equipe__02 {
    background-color: white;
    display: flex;
    margin: 1.5rem 0;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    justify-content: end;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.1);
}

.descricao__equipe{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.descricao__equipe__02 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.nome__equipe {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.texto__equipe {
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    color: #585858;
    line-height: 1.4rem;
}

.miau__equipe {
    display: flex;
    flex-direction: column;
}

.miau__equipe__02 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#foto__equipe {
    height: 200px;
    border-radius: 8px;
    margin: 0 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); ;
}

#miometro {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #585858;
    margin-top: 2rem;
    margin-bottom: 1rem;  
}

#patinha {
    margin: 0.2rem;
}

@media (max-width: 1024px) {
    .texto__equipe {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-top: 1rem;
        color: #585858;
        line-height: 1.4rem;
        text-align: justify;
    }

    #titulo__equipe {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-top: 2rem;
        margin-bottom: 0;
        text-align: center;
    }

    .nome__equipe {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
        max-width: 360px;
        justify-content: space-around;
    }

    #titulo__equipe {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-top: 2rem;
        margin-bottom: 0;
        text-align: center;
    }

    .card__equipe {
        background: none;
        display: flex;
        margin: 1.5rem 0;
        padding: 6px;
        border-radius: 8px;
        width: 100%;
        box-shadow: none;
        box-sizing: border-box;
    }
    
    .card__equipe__02 {
        background: none;
        display: flex;
        margin: 1.5rem 0;
        padding: 6px;
        border-radius: 8px;
        width: 100%;
        justify-content: end;
        box-shadow: none;
        box-sizing: border-box;
    }

    .nome__equipe {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }

    #foto__equipe {
        height: 150px;
        border-radius: 8px;
        margin: 0 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); ;
        box-sizing: border-box;
    }

    .texto__equipe {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        margin-top: 1rem;
        color: #585858;
        line-height: 1.4rem;
        text-align: justify;
    }

    .descricao__equipe{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-right: 10px;
    }
    
    .descricao__equipe__02 {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        margin-left: 10px;
    }

    .miau__equipe {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }
    
    .miau__equipe__02 {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 24px;
    }
}