@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;500;700&family=Rokkitt&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

section {
  height: 100vh; /* Define a altura da seção como 100% da altura da janela de visualização */
  /* flex-grow: 1;Faz com que a seção ocupe o espaço restante disponível */
}

.principal {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 16px;
  max-width: 760px;
  width: 90%;
  padding: 8px 0;
  background-color: #ffffff;
  justify-content: space-between;
  border-radius: 8px;
}

.titulo-principal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 16px;
  color: #111111;
}

.titulo-secundario {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 8px;
  color: rgba(17, 17, 17, 0.48);
}

.div-cards {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 50px 0;
}

.cards li {
  flex-basis: 100%;
  max-width: 100%;
  text-align: center;
  margin: 1.5% 1.5% 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: #5f5f5f solid 2px;
  border-radius: 10px;
  transition: 300ms ease;
}

.cards li img {
  margin: 16px auto;
  max-height: 140px;
}

.cards li:hover {
  border-color: #eb339b;
  transform: scale(1.1);
}

.cards li:active {
  border-color: #088c19;
}

.cards h2 {
  font-size: 20px;
  /* font-weight: bold; */
}

.card-descricao {
  font-size: 16px;
}

/* carrossel */

.project-img {
  box-shadow: 0 1px 2px #0003;
  width: 95%;
}

.carroussel {
  box-shadow: 0 1px 2px #0003;
  width: 50%;
}

.swiper {
  height: 400px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  .cards li {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  }

@media only screen and (min-width: 768px) {
  .cards {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .cards li {
    flex-basis: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}

@media only screen and (min-width: 1024px) {
  .cards {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
