@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;500;700&family=Rokkitt&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

header {
  background: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

nav li a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
  border: 1px solid #eb339b;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

nav li:nth-child(1) a {
  color: #eb339b;
}

nav li:nth-child(1) a:hover {
  color: #ffffff;
  background-color: #eb339b;
  transition: 0.3s;
}

nav li:nth-child(2) a {
  color: #ffffff;
  background-color: #eb339b;
}

nav li:nth-child(2) a:hover {
  color: #eb339b;
  background-color: #ffffff;
  transition: 0.3s;
}

/*====================================================*/

.cabecalho {
  width: 1040px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo-principal h1 {
  position: absolute;
  width: 752px;
  height: 156px;
  left: 344px;
  top: 148px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  display: flex;
  align-items: center;
  color: #111111;
}

.titulo-principal h2 {
  position: absolute;
  width: 624px;
  height: 56px;
  left: 344px;
  top: 328px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;

  color: rgba(17, 17, 17, 0.48);
}

.conteudo-principal h3 {
  position: absolute;
  width: 624px;
  height: 572px;
  left: 344px;
  top: 148px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 56px;
  display: flex;
  align-items: center;

  color: rgba(17, 17, 17, 0.48);
}

.animais li{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  margin: 35% 2.5% 2.5% 2.5%;
  box-sizing: border-box;
  border: #111111 solid 2px;
  border-radius: 10px;
  transition: 300ms ease;
}

footer {
  background-color: pink;
  margin-top: 30px;
  padding: 20px 0;
}


.footer-icons li {
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  width: 3%;
  vertical-align: top;
  margin: 1.5% 1.5% 1.5%;
  padding: 30px 20px;
}

.copyright {
  display: flex;
  justify-content: center;
}
