@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;500;700&family=Rokkitt&display=swap");



body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

/*   -----    Listagem de Miaus    -----    */

.lista-miaus {
  background-color: #ffffff;
  box-sizing: border-box;
  max-width: 752px;
  width: 95%;
  min-height: 340px;
  height: auto;
  padding: 10px 20px;
  margin: 32px auto 32px;
}

.paragrafo-miau {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 32px;
  line-height: 39.01px;
}

.linhaGato {
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 30px;
}

.adiciona-miau {
  margin: auto;
  max-width: 672px;
  width: 95%;
  height: 88px;
  padding-right: 20px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 16px 0px #33333314;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 5%;
}


.dados-miau {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.botao-notas, .botao-editar, .botao-excluir {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid #eb339b;
  padding-top: 8px;
  padding-bottom: 8px;
  padding: 8px, 16px, 8px, 16px;
  background-color: #fff;
  color: #eb339b;
  border-radius: 8px;
 
}
.textoBotao{
  text-decoration: none;
  color: #eb339b;
}

.div-gato{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .caixa {
    width: auto;
    background-color: #fff;
  }
}

@media screen and (max-width: 426px) {
  .botao-notas, .botao-editar, .botao-excluir, .linhagato {
    flex-basis: calc(60% - 20px);
    max-width: calc(60% - 20px);
  }
  
}
