@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;500;700&family=Rokkitt&display=swap");


.caixa1{

    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 752px;
    height: 578px;
    padding: 10px 20px;
    margin: 32px auto 10px;
    

}

.lista-miaus{
   
}