body {
    background-color: #F2F2F2;
    box-sizing: border-box;
}

#titulo__contato {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0;
    text-align: center;
}

.principal {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    max-width: 760px;
    width: 95%;
    background-color: white;
    border-radius: 8px;
    padding: 2.5rem;
    line-height: 130%;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.1);
    box-sizing: border-box;
}

.input-padrao {
    border: none;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 56px rgba(51, 51, 51, 0.16);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    max-width: 672px;
    margin-top: 24px;
}
.selecao__formulario{
    margin: 1rem 0;
}

.select__formulario {
    width: 100%;
    max-width: 200px;
    padding: .2rem;
}

.texto__formulario{ 
    width: 100%;
    max-width: 672px;
    box-sizing: border-box;

}

#label__formulario{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    text-align: start;
}

.div__botao__formulario {
    display: flex;
    align-self: center;
    width: 45%;
    justify-content: space-between;
}

.botao__formulario {
    max-width: 324px;
    width: 100%;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 24px;
    border: 2px solid #EB339B;
    border-radius: 4px;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    color:#EB339B;
    align-items: center;
}

@media (max-width: 1024px){
    #titulo__contato {
        padding: 0 1rem;
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 360px) {
    #titulo__cadastro {
        padding: 0 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .div__botao__formulario {
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: space-between;
    }

    .select__formulario {
        width: 100%;
        padding: .2rem;
        max-width: 100%;
    }

    .principal {
        display: flex;
        flex-direction: column;
        background: none;
        margin: 3rem auto;
        max-width: 760px;
        width: 100%;
        padding: 1rem;
        line-height: 130%;
        box-sizing: border-box;
        box-shadow: none;
    }
}