

body{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
.button{
    
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    border: 2px solid #EB339B;
    border-radius: 4px;
    
}

.botao1{
    color: #EB339B;
    background-color: #FFFFFF;
}

.botao2{
    color: #FFFFFF;
    background-color: #EB339B;
}